*{
    box-sizing: border-box;

}
ul{
    list-style: none;

}
a{
    text-decoration: none;
    color: #ffffff;
}
.firstbackground{
    position: absolute;
    width: 100%;
    height: 662px;
}
.first-list{
    position: relative;
}
.navbar-li{
    display: inline-block;
    margin-top: 24px;
}
.first{
    margin-left: 250px;
    font-family: Poppins;
    font-size: 14px;
}
.navigation{
    display: inline-block;
    margin-left: 900px;
}
.second,.third,.fourth,.fifth,.sixth,.seventh{
    padding-left: 50px;
    font-family: Poppins;
    font-size: 12px medium;
    display: inline-block;
}
.firstpart-header{
    position: absolute;
    top: 235px;
    left: 234px;
}
h1{
    font-size: 62px;
    font-family: Poppins;
    width: 575px;
    height: 144px;
    color: white;
}
.first-text{
    font-size: 18px;
    font-family: Poppins;
    width: 352px;
    height: 64px;
    color: #ffffff;
    margin-top: 20px;
}
.sticky{
    position: sticky;
    z-index: 10;
    color: #ffffff;
    font-size: 25px bold;
    font-family: Poppins;
    margin-top: 95px;
}
.symbols{
    position: absolute;
    display: flex;
    right: 175px;
    top: 534px;
}
.symbol-first,.symbol-second{
    display: inline-block;
    height: 51px;
    width: 51px;
    border: none;
    padding: 0;
}
.entity{
    font-size: 23px;
}
.symbol-first{
    background-color: #ffffff;
}
.symbol-second{
    background-color: #5863F8;
}
.maininformation{
    display: inline-block;
    margin-top: 740px;
    margin-left: 234px;
}
.h-second{
    font-size: 42px;
    width: 330px;
    height: 115px;
}
.p1{
    font-size: 16px;
    height: 80px;
    width: 444px;

}
.p2{
    font-size: 16px;
    height: 80px;
    width: 444px;
}
.secondpart-images{
    display: inline-block;
    vertical-align: top;
    width: 700px;
    height: 100px;
    margin-top: 740px;
    margin-left: 90px;
}
.crazyapool{
    padding-left: 15px;
}
.palms{
    width: 539px;
    height: 261px;
    padding-top: 16px;
}
.infobutton{
    display: inline-block;
    height: 50px;
    width: 184px;
    border: none;
    padding: 0;
    margin-top: 57px;
    margin-left: 250px;
    background-color: #5863F8;
    font-size: 14px;
    color: white;
}